body{
	box-sizing: border-box;
	margin: 0px;
	color: white;
}

#header{
	height: 60px;
	width: calc(100% - 60px);
	background-color: #000000;
	font-family: Perpetua;
	font-size: 24px;
	font-weight: bold;
	float: left;
	display: inline;
	padding-top: 25px;
	padding-left: 30px;
	padding-right: 30px;
	position: fixed;
	z-index: 100;
}

#header ul{
	font-size: 16px;
	float: right;
	margin: 0px;
	display: inline;
}

#header li{
	display: inline;
	padding-left: 10px;
}
#header a{
	text-decoration: none;
	color: white;
}

#First{
	width: 100%;
	height: calc(100% - 85px);
	background-image: url('background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	top: 85px;
	position: absolute;
}

#First img{
	left: 45%;
	top: 30%;
	position: relative;
	filter: drop-shadow(2px 5px 2px white);
}

#About{
	width: 100%;
	height: 100%;
	background-color: black;
	float: left;
	display: block;
	top: 100%;
	position: absolute;
	text-align: center;
}

#Heading{
	width: 100%;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	font-family: Perpetua;
	padding-top: 50px;
	top: 50px;
	position: absolute;
}

#content{
	width: 100%;
	font-family: Perpetua;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 150px;
}

