body{
	margin: 0px;
	box-sizing: border-box;
	background-image: url('../images/background-main.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-weight: bolder;
	font-family: 'Righteous', cursive;
}

.Header{
	width: 90vw;
	height: 75px;
	background-color: gray;
	margin: auto;
	display: flex;
}

.Header .home{
	width: 200px;
	padding: 20px;
	background-color: white;
	font-size: 26px;
}

.home a{
	text-decoration: none;
	color: black;
}


.Header nav{
	color: white;
	width: calc(90vw - 200px);
	text-align: right;
}

nav a{
	text-decoration: none;
	color: gray;
	border-width: 1px solid white;
	border-radius: 10px;
	background-color: white;
	width: 200px;
	padding: 15px;
}

nav a:hover{
	color: white;
	background-color: gray;

}

ul li{
	display: inline-block;
	padding-right: 20px;
	padding-top: 10px;
}

.Header .Menu-icon{
	float: right;
	width: calc(90vw - 200px);
	color: white;
	font-size: 40px;
	padding: 10px;
	display: none;
	padding-right: 20px;
}


.Intro{
	height: calc(100vh - 75px);
	width: 90vw;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.5);
}

.titlesmall{
	padding: 200px;
	position: absolute;
	font-size: 30px;
	padding-bottom: 0px;
}

.titlename{
	padding: 250px;
	position: absolute;
	font-size: 60px;
	padding-bottom: 0px;
}

.description{
	padding-top: 325px;
	padding-left: 250px;
	position: absolute;
	font-size: 24px;
	width: 40vw;
	margin: auto;
	padding-bottom: 0px;
}

.compass{
	position: absolute;
	padding-left: 70px;
	padding-top: 70px;
	z-index: -1;
}


@media only screen and (max-width: 1376px){
		.titlesmall{
			padding: 180px;
			position: absolute;
			font-size: 26px;
			padding-bottom: 0px;
		}

		.titlename{
			padding: 220px;
			position: absolute;
			font-size: 50px;
			padding-bottom: 0px;
		}

		.description{
			padding-top: 290px;
			padding-left: 220px;
			position: absolute;
			font-size: 20px;
			width: 40vw;
			margin: auto;
			padding-bottom: 0px;
		}

		.compass{
			position: absolute;
			padding-left: 50px;
			padding-top: 50px;
			z-index: -1;
		}
}

@media only screen and (max-width: 1150px){
		.titlesmall{
			padding: 175px;
			position: absolute;
			font-size: 24px;
			padding-bottom: 0px;
		}

		.titlename{
			padding: 210px;
			position: absolute;
			font-size: 47px;
			padding-bottom: 0px;
		}

		.description{
			padding-top: 275px;
			padding-left: 210px;
			position: absolute;
			font-size: 16px;
			width: 40vw;
			margin: auto;
			padding-bottom: 0px;
		}

		.compass{
			position: absolute;
			padding-left: 50px;
			padding-top: 50px;
			z-index: -1;
		}

		.compass img{
			width: 180px;
			height: 180px;
		}
}


@media only screen and (max-width: 1080px){
		.titlesmall{
			padding: 175px;
			position: absolute;
			font-size: 24px;
			padding-bottom: 0px;
		}

		.titlename{
			padding: 210px;
			position: absolute;
			font-size: 47px;
			padding-bottom: 0px;
		}

		.description{
			padding-top: 275px;
			padding-left: 210px;
			position: absolute;
			font-size: 16px;
			width: 40vw;
			margin: auto;
			padding-bottom: 0px;
		}

		.compass{
			position: absolute;
			padding-left: 50px;
			padding-top: 50px;
			z-index: -1;
		}

		.compass img{
			width: 180px;
			height: 180px;
		}

		.Header nav{
			display: none;
		}
		.Header .Menu-icon{
			display: block;
			text-align: right;
		}
}


@media only screen and (max-width: 900px){
		.titlesmall{
			padding: 150px;
			position: absolute;
			font-size: 22px;
			padding-bottom: 0px;
		}

		.titlename{
			padding: 180px;
			position: absolute;
			font-size: 40px;
			padding-bottom: 0px;
		}

		.description{
			padding-top: 240px;
			padding-left: 180px;
			position: absolute;
			font-size: 15px;
			width: 45vw;
			margin: auto;
			padding-bottom: 0px;
		}

		.compass{
			position: absolute;
			padding-left: 50px;
			padding-top: 50px;
			z-index: -1;
		}

		.compass img{
			width: 150px;
			height: 150px;
		}

		.Header nav{
			display: none;
		}
		.Header .Menu-icon{
			display: block;
			text-align: right;
		}
}


@media only screen and (max-width: 720px){
		.Header .home{
			width: 120px;
			padding: 15px;
			font-size: 20px;
		}
		.titlesmall{
			padding: 100px;
			position: absolute;
			font-size: 18px;
			padding-bottom: 0px;
		}

		.titlename{
			padding-top: 125px;
			padding-left: 110
			position: absolute;
			font-size: 24px;
			padding-bottom: 0px;
		}

		.description{
			padding-top: 175px;
			padding-left: 110px;
			position: absolute;
			font-size: 16px;
			width: 45vw;
			margin: auto;
			padding-bottom: 0px;
		}

		.compass{
			position: absolute;
			padding-left: 25px;
			padding-top: 25px;
			z-index: -1;
		}

		.compass img{
			width: 110px;
			height: 110px;
		}

		.Header nav{
			display: none;
		}
		.Header .Menu-icon{
			display: block;
			text-align: right;
			width: calc(90vw - 120px);
		}
}